@model List<EventManager.Application.DTOs.DropdownItemDto>

<select id="@ViewBag.Id" class="form-select">
    <option value="">@ViewBag.Placeholder</option>
    @foreach (var item in Model)
    {
        <option value="@item.Id" data-print-center="@item.DataAttributes">
            @item.Text
        </option>
    }
</select>